// ### Primary

// - Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
// - Dark Blue (main background): hsl(218, 28%, 13%)
// - Dark Blue (footer background): hsl(216, 53%, 9%)
// - Dark Blue (testimonials background): hsl(219, 30%, 18%)

// ### Accent

// - Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
// - Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
// - Light Red (error): hsl(0, 100%, 63%)

// ### Neutral

// - White: hsl(0, 0%, 100%)

$primary-blue-intro-emails: #1c2431;
$primaty-blue-main: #181f2a;
$primary-blue-footer: #0b1523;
$primary-blue-testimonials: #202a3c;

$accent-cyan: #65e2d9;
$accent-blue: #339ecc;
$accent-red: #ff4242;

$neutral-white: #ffffff;